.comment{
    font-family:cursive;
    display: flex;
    justify-content: space-between;
}
.btn-delete{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: rgb(241, 80, 80);
}
